<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ONLINE SHOP ".NET"</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Cars/List">All cars</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/Cars/List/sport">Sport cars</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/Cars/List/classic">Classic cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ShopCart/">Basket</a>
        </li>
      </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a asp-action="Register" asp-controller="Account" class="nav-link">Sign up</a>
            </li>
        </ul>
    </div>
  </nav>
</header> 
    <div class="container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>Dosmukhanbet Muhamedzhan. <a href="#">Privacy</a> <a href="#">Terms</a></p>
    </footer>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
